@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    height: 100vh;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #3d3d3d;
    width: 100%;
}
header div p{
    color: aliceblue;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.barraPesquisa{
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: #171717;
    margin: 15px;
    justify-content: space-between;
    border-radius: 5px;
}

.barraPesquisa img{
    background-color: #CCCCCC;
    padding: 10px;
}

.login{
    width:20%;
    margin: 15px;
}


.login img{
    background-color: #3d3d3d;

}
main{
    width: 100%;
    background-image: url("../image/fundo.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    height: 100vh;
}

main img{
    width: 30%;

}

main h1{
    width: 100%;
    font-size: 90px;
    text-align: center;
    color: #B57900;
    margin: 5rem;
    text-decoration: none;
    font-family: 'Love Ya Like A Sister', cursive;
}

a{
    text-decoration: none;
    color: black;
    font-size: 90px;
    background-color: rgba(0, 0, 0, 0.178);
    padding: 5px;
    border-radius: 7px;
}
 
