@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    height: 100vh;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #3d3d3d;
    width: 100%;
}
header div p{
    color: aliceblue;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.barraPesquisa{
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: #171717;
    margin: 15px;
    justify-content: space-between;
    border-radius: 5px;
}

.barraPesquisa img{
    background-color: #CCCCCC;
    padding: 10px;
}

.login{
    width:20%;
    margin: 15px;
}


.login img{
    background-color: #3d3d3d;

}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    
}
 main section{
     background-color: #CCCCCC;
     border: 1px solid #CCCCCC;
    border-radius: 5px;
        padding: 10px;
 }
  main div{
    display: flex;
    flex-direction: row;
  }

  main section > h1{
      color: #447D99;
      padding: 10px;
  }

  main .entradas{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
  }
  main .entradas input{
      background-color: #ffff;
      border: 1px solid #447D99;
      border-radius: 5px;
      padding: 10px;
  }
  main div h1{
      margin: 15px;

  }
  main div a{
      text-decoration: none;
      color: white;
      background-color: #447D99;
      border: 1px solid #447D99;
      border-radius: 5px;
      padding: 10px;
  }